/*import fonts*/

/*Playfair Display Font*/
@font-face {
    font-family: 'Playfair Display';
    src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format('TrueType');
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf") format('TrueType');
    font-style: italic;
}

/*Montserrat Font*/
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("TrueType");
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("TrueType");
    font-style: italic;
}



/*Universal reset*/
*,
*:after,
*:before {
    box-sizing: border-box;
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    border: 0 solid;
    outline: none;
}

/*modular Scale*/
:root {
    --ratio: 1.5;
    /*Fluid Topography*/
    /*8px to 10px*/
    --s-5: clamp(0.5rem, 0.456rem + 0.1878vw, 0.625rem);

    /*10px to 12px*/
    --s-4: clamp(0.625rem, 0.581rem + 0.1878vw, 0.75rem);

    /*10px to 14px*/
    --s-3: clamp(0.625rem, 0.537rem + 0.3756vw, 0.875rem);

    /*12px to 14px*/
    --s-2: clamp(0.75rem, 0.706rem + 0.1878vw, 0.875rem);

    /*12px to 16px*/
    --s-1: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);

    /*14px to 16px*/
    --s0: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);

    /*15px to 17px*/
    --s1: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);

    /*16px to 18px*/
    --s2: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);

    /*18px to 24px*/
    --s3: clamp(1.125rem, 0.993rem + 0.5634vw, 1.5rem);

    /*24px to 32px*/
    --s4: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);

    /*24px to 48px*/
    --s5: clamp(1.5rem, 0.9718rem + 2.2535vw, 3rem);

    /*32px to 64px*/
    --s6: clamp(2rem, 1.2958rem + 3.0047vw, 4rem);

    /*Custom fluid space*/
    /*32px to 52px*/
    --space-1: clamp(2rem, 1.5599rem + 1.8779vw, 3.25rem);

    /*12px to 234px*/
    --space-2: clamp(0.75rem, -4.1356rem + 20.8451vw, 14.625rem);

    /*24px to 43px*/
    --space-3: clamp(1.5rem, 1.0819rem + 1.784vw, 2.6875rem);

    /*24px to 48px*/
    --space-4: clamp(1.5rem, 0.9718rem + 2.2535vw, 3rem);

    /*20px to 43px*/
    --space-5: clamp(1.25rem, 0.7438rem + 2.1596vw, 2.6875rem);

    /*14px to 24px*/
    --space-6: clamp(0.875rem, 0.6549rem + 0.939vw, 1.5rem);

    /*5px to 14px*/
    --space-7: clamp(0.3125rem, 0.1144rem + 0.8451vw, 0.875rem);

    /*30px to 48px*/
    --space-8: clamp(1.875rem, 1.4789rem + 1.6901vw, 3rem);

    /*8px to 17px*/
    --space-9: clamp(0.5rem, 0.3019rem + 0.8451vw, 1.0625rem);

    /*25px to 35px*/
    --space-10: clamp(1.5625rem, 1.3424rem + 0.939vw, 2.1875rem);

    /*129px to 95px*/
    --space-11: clamp(8.0625rem, 8.8107rem + -3.1925vw, 5.9375rem);

    --line-height: var(--ratio);
    --line-height-small: calc(0.8*var(--ratio));
    --border-thin: var(--s-5);
    --border-thick: var(--s-2);
    line-height: var(--ratio);
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Playfair Display', serif;
    --fw-bold: 700;
    --fw-medium: 500;
    --fw-regular: 400;
    --primary-color: #333333;
    --secondary-color: #4f4f4f;
    --tertiary-color: #bdbdbd;
    --quaternary-color: #f2994a;
    --quinary-color: #828282;
    --white-color: #FFFFFF;
    --black--color: #000000;
}

/*Universal styling*/
body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

/*creating a stack container*/
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5;
    padding-block: var(--space-1) 1.5rem;
    padding-inline: var(--space-2);
    font-family: var(--ff-primary);
    color: var(--primary-color);
}

/*Set default max-width for all first child of the container class*/
.container>* {
    max-width: 100%;
}

.title {
    font-size: var(--s4);
    line-height: var(--s6);
    font-weight: var(--fw-bold);
    font-family: var(--ff-secondary);
    color: var(--black--color);
    margin-block-end: 0.75rem;
}

.header__tagline {
    display: flex;
    flex-direction: row;
    column-gap: 0.75rem;
    align-items: flex-start;
}

.tagline__icon {
    flex-basis: content;
    position: relative;
    top: calc((var(--s1) - var(--s-2))*2);
}

.tagline__text {
    flex-basis: auto;
    font-size: var(--s-2);
    line-height: var(--s1);
    font-style: italic;
    font-weight: var(--fw-medium);
    color: var(--secondary-color);
    max-inline-size: 37rem;
    margin-block-end: var(--space-3);
}

.hero {
    margin-block-end: var(--space-4);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/*Aside section*/
.details {
    margin-block-end: var(--space-8);
}

.details>*+* {
    margin-block-start: var(--space-5);
}

.yield .detail__value {
    color: var(--quaternary-color);
}

.time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail_item {
    display: flex;
    column-gap: var(--space-7);
}


.detail__text__title {
    font-size: var(--s-5);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    line-height: var(--s-4);
    color: var(--tertiary-color);
}

.detail__value {
    font-size: var(--s-3);
    font-weight: var(--fw-medium);
    line-height: var(--s-1);
    white-space: nowrap;
}

.detail__icon {
    width: var(--space-6);
    height: auto;
}

.list,
.instruction__text {
    max-inline-size: 37rem;
}

.ingredients__heading {
    font-size: var(--s3);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    line-height: var(--s4);
    margin-block-end: 1.75rem;
}

.ingredient {
    margin-block-end: 1rem;
}

.ingredient__subheading {
    font-size: var(--s2);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-regular);
    font-style: italic;
    line-height: 1.5rem;
    margin-block-end: 1rem;
}

.ingredients__list {
    font-size: var(--s0);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: var(--space-9);
}

.ingredient>*+* {
    margin-block-start: 0.75rem;
}

.bulletbox {
    flex-basis: 1.3125rem;
    flex-shrink: 0;
    flex-grow: 0;
    height: 1.3125rem;
    border: 1px solid var(--quinary-color);
    border-radius: 4px;
}

.instructions__heading {
    font-size: 1.5rem;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    line-height: 2rem;
    margin-block-end: 1.75rem;
}

.instruction {
    display: flex;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 0.9375rem;
    margin-block-end: var(--space-10);
}

.instruction__no {
    flex-basis: 36px;
    height: 36px;
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 1.5rem;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--quaternary-color);
    color: var(--white-color);
    border-radius: 6px;
}


.instruction__text {
    font-size: 1rem;
    font-weight: var(--fw-regular);
    line-height: 1.25rem;
    color: var(--black--color);
}

.source {
    font-size: var(--s-1);
    font-weight: var(--fw-medium);
    line-height: 150%;
    font-style: italic;
    color: var(--tertiary-color);
    margin-block-end: var(--space-11);
}

.source span {
    white-space: nowrap;
}

.foot__note {
    text-align: center;
    font-size: 0.875rem;
    font-weight: var(--fw-medium);
    line-height: 1.0625rem;
    color: var(--quinary-color);
}

@media only screen and (min-width: 1024px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 1.75rem;
    }

    .details {
        order: 2;
        background: var(--white-color);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        flex-basis: content;
        padding: 3.5625rem 3.1875rem 3.125rem 2.6875rem;
    }

    .content {
        order: 1;
    }

    .time {
        flex-direction: column;
        row-gap: var(--space-5);
    }
}