<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | in2it-ng</title>
    <link rel="shortcut icon" href="../resources/images/favicon-plain.png" type="image/x-icon">
    <!--Google fonts-->
    <!--Style reset-->
    <link rel="stylesheet" type="text/css" href="../resources/css/reset.css">
    <!--user main CSS for the entire site styles-->
    <link rel="stylesheet" type="text/css" href="../resources/css/main.css">
    <!--Page Styling-->
    <link rel="stylesheet" type="text/css" href="../resources/css/about.css">
</head>

<body>
    <header class="header-container">
        <nav>
            <div class="left-col logo">
                <a href="../index.html">
                    <img src="../resources/images/in2it_logo.png" alt="logo" class="logo">
                </a>
            </div>
            <div class="right-col navbar">
                <div class="nav-search">
                    <label for="page-search">SEARCH:</label>
                    <input type="search" name="page-search" id="page-search">
                </div>
                <div class="nav-links">
                    <ul>
                        <li><a href="../index.html">HOME</a></li>
                        <li><a href="offers.html">OUR OFFERS</a></li>
                        <li><a href="about.html" class="active">ABOUT US</a></li>
                        <li><a href="team.html">OUR TEAM</a></li>
                        <li><a href="contact.html">CONTACT US</a></li>
                    </ul>
                </div>
                <div class="icon">
                    <img src="../resources/images/search-icon.png" alt="search icon" class="search">
                    <img src="../resources/images/menu-icon.png" alt="menu icon" id="menu-btn" class="menu">
                </div>
            </div>
        </nav>
        <div id="secondary-nav">
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="offers.html">OUR OFFERS</a></li>
                <li><a href="about.html" class="active">ABOUT US</a></li>
                <li><a href="team.html">OUR TEAM</a></li>
                <li><a href="contact.html">CONTACT US</a></li>
            </ul>
        </div>
    </header>
    <script src="../resources/scripts/main.js"></script>
</body>

</html>