/*Universal styling*/
body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url(../img/brt.webp);
    /*Put your image url*/
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    /*Value from 0.0 to 1.0*/
}

/*creating a stack container*/
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
}

/*Set default max-width for all first child of the container class*/
.container>* {
    max-width: 100%;
}

/*Make the main element centered vertically*/
.container>main {
    margin-block: auto;
    padding: 10px;
}

.container> :first-child:not(main) {
    margin-block-start: 0;
}

.container> :last-child:not(main) {
    margin-block-end: 0;
}

.counter-wrapper, .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}


.counter-head, .count {
    font-size: 30px;
}

.count {
    font-size: 50px;
}

.counter-wrapper > * + * {
    margin-block-start: 1rem;
}

.btn {
    row-gap: 0.2rem;
}

.counter, .save {
    width: 200px;
    color: white;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow:2px 2px 1px 1px rgba(0, 0, 0, 0.2);
}
.counter {
    background: darkred;
}

.save {
    background: darkgreen;
}

.counter:active, .save:active {
    box-shadow: none;
}

.previous {
    font-size: 20px;
    font-weight: bold;
}

.foot__note {
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    margin-block-end: 1.9375rem;
    color:#222222;
}

.foot__note a {
    text-decoration: none;
    color: #222222;
}


@media only screen and (min-width: 768px) {
    .btn {
        flex-direction: row;
        column-gap: 0.5rem;
    }
}