/* colors - see style guide for docs. 
Clearly there is more you could place in variables, up to you if you want to use them. My answer does not go beyond colors to keep the code easier to read. */

:root {
    --color1: #001219;
    --color2: #005f73;
    --color3: #3d9397;
    --color4: #94d28d;
    --color5: #e9d8a6;
    --color6: #ee9800;
    --color7: #ca6702;
    --color8: #bb3e03;
    --color9: #ae2012;
    --color10: #9b2226;
}


/* generic site styles */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DBE5DE;
    padding: 0;
    margin: 0;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

section h2 {
    font-size: 2.5rem;
}

/* Initial mobile layout: a series of images stacked on top of each other with the figure caption over the image. */
#collections > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2%;
   
}

#collections > ul > li {
   flex-basis: 100%; 
   margin-bottom: 1rem;
}

#collections > ul > li figure {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

#collections > ul > li figure img {
    width: 100%;
    height: auto;
}

#collections > ul > li figure figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(100%, 100%, 100%, 0.5);
    font-size: 1.5rem;
    padding-inline-start: 2rem;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
}

#collections > ul > li figure figcaption a {
    color: var(--color1);
    text-decoration: none;
}

#collections .pop-art {
    border: 10px solid var(--color7);
}

#collections .abstract {
    border: 10px solid var(--color2);
}

#collections .vivid {
    border: 10px solid var(--color6);
}

#collections .music {
    border: 10px solid var(--color8);
}

#collections .vehicle {
    border: 10px solid var(--color4);
}

#collections .landscape {
    border: 10px solid var(--color3);
}





#mission figure {
    display: flex;  
}


/* At this breakpoint, transition to 2 figures per line */

@media (min-width: 550px) {
    #collections > ul > li {
        flex-basis: 49%;    
    }
}


/* At this breakpoint, transition to 3 figures per line */

@media (min-width: 800px) {
    #collections > ul > li {
        flex-basis: 32%;    
    }
}
