/*import fonts*/
/**/
@font-face {
    font-family: 'Heebo';
    src: url("../fonts/Heebo/Heebo-VariableFont_wght.ttf") format('TrueType');
}

/*Universal Styling*/
/*modular Scale*/
:root {

    /*modular scale font-size*/

    /*Custom modular spacing*/


    /*custom font family*/
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Heebo', sans-serif;

    /*custom font weight*/
    --fw-extrabold: 800;
    --fw-medium: 500;
    --fw-regular: 400;
    --fw-light: 300;

    /*custom font color*/

}

/*Universal styling*/
body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
}

/*creating a stack container*/
.container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Set default max-width for all first child of the container class*/
.container>* {
    max-width: 100%;
}

/*Make the main element centered vertically*/
.container>main {
    margin-block: auto;
    padding-inline: 24px;
}


.container> :first-child:not(main) {
    margin-block-start: 0;
}

.container> :last-child:not(main) {
    margin-block-end: 0;
}

/*styling the main*/
.faq {
    margin-inline: auto;
    margin-block: clamp(9.25rem, -4.9545rem + 60.6061vw, 14.25rem) 85px;
    max-width: 460px;
}

/*styling FAQ section*/
.faq-wrapper {
    position: relative;
    background: white;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    border-radius: 23px;
}

/*styling FAQ image wrapper*/
.desktop {
    display: none;
}

.mobile {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: auto;
    display: block;
    transform: translateY(-60%);
}

/*styling FAQ images*/
.fag-img-wrapper {
    position: relative;
    margin-inline: 45px;
}

.fag-main-img {
    width: 100%;
}

.faq-img {
    display: block;
    width: 100%;
    height: auto;
}

.fag-main-img-shadow {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    transform: translateY(30%);
}

.faq-img-shadow {
    display: block;
    width: 100%;
    height: auto;
}

/*styling FAQ content*/
.fag-content-wrapper {
    padding-block-start:  clamp(8.25rem, -0.0952rem + 35.6061vw, 11.1875rem);
    padding-inline: 25px;
    padding-block-end: 48px;
}


.faq-accordion-wrapper>*+* {
    border-block-start: 1px solid #E8E8EA;
    margin-block-start: 16px;
    padding-block-start: 16px;
}

.faq-accordion-wrapper:last-child {
    border-block-end: 1px solid #E8E8EA;
    padding-block-end: 16px;
}

.faq-content-header {
    text-align: center;
    margin-block: 0 38px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #1E1F36;
}

.faq-accordion-header button {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-accordion-header button:hover .faq-accordion-header-text {
    color: #F47B56;
}

.faq-accordion-header-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #4B4C5F;
}


.faq-accordion-header-indicator {
    flex-basis: content;
    flex-shrink: 0;
}

.faq-accordion-header-indicator img {
    display: block;
    width: 8px;
    height: auto;
    transform: rotate(0deg);
}

.faq-accordion-content {
    display: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #787887;
}

.faq-accordion-content-text {
    margin-block-start: 12px;
}

.faq-accordion.is-open .faq-accordion-content {
    display: block;
}

.faq-accordion.is-open .faq-accordion-header-text {
    font-weight: 700;
}

.faq-accordion.is-open .faq-accordion-header-indicator img {
    transform: rotate(180deg);
}


.attribution {
    width: 100%;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 800px) {
    main {
        padding-block-start: 0px;
        padding-inline: 66px;
    }


    .faq {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        place-items: center;
        max-inline-size: 920px;
    }


    .desktop {
        display: block;
        position: relative;
    }

    .faq-img-desktop-shadow {
        display: block;
        position: absolute;
        inset-block-start: 0px;
        inset-block-end: 0px;
        width: 100%;
        height: auto;
        border: 1px solid black;
    }

    .mobile {
        display: none;
    }

    /*styling FAQ image wrapper*/
    .fag-img-wrapper {
        position: relative;
        margin-inline: 0;
    }

    /*styling FAQ images*/
    .faq-img-desktop-wrapper {
        position: relative;
        border: 1px solid black;
        overflow: hidden;
    }

    .faq-img {
        position: relative;
        inset-block-start: 0px;
        width: 100%;
        height: auto;
    }

    .faq-img-shadow {
        position: absolute;
        inset-block-start: 0px;
        display: block;
        width: 100%;
        height: auto;
    }

    .faq-img-box {
        position: relative;
        z-index: 10;
        border: 1px solid red;
        display: block;
        width: 100%;
        height: auto;
    }

    .fag-content-wrapper {
        padding-block-start: 65px;
        max-inline-size: 350px;
    }


    .faq-accordion-header-text {
        font-size: 14px;
        line-height: 17px;

    }
}